<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>  

  <div class="media-body">
    <p><%= item.name %></p>
    <small>
      <%= pluralize(item.days_left,'day')%> remaining
       | <%= link_to "Completed", [@user,item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok'%>
    </small>
  </div>
<% end %>